---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout lang="en" title="About">
  <h1>About SQMUSIC</h1>
  <p>Music project that explores different sounds and styles.</p>
</SiteLayout>
