---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout lang="en" title="Shop">
  <h1>Shop</h1>

  <iframe
    src="https://shop.sqmusic.site"
    style="width:100%; height:80vh; border:none; border-radius:12px;"
  ></iframe>
</SiteLayout>
